Repository stashapp/CommunityScripts, pull requests merged in 2022-11, with the labels that each got.

#90 [renamerOnUpdate] Fix SQUEEZE for studio_hierarchy
  plugins/renamerOnUpdate/renamerOnUpdate.py
  plugins/renamerOnUpdate/renamerOnUpdate.yml
Labels: bug, plugin

#91 [titleFromFilename] Retry update requests
  plugins/titleFromFilename/titleFromFilename.py
  plugins/titleFromFilename/titleFromFilename.yml
Labels: enhancement, plugin

#89 [PathParser] Plugin
  README.md
  plugins/pathParser/README.md
  plugins/pathParser/pathParser.js
  plugins/pathParser/pathParser.yml
Labels: plugin

#82 [GHScraper] Fix support for subdirs
  plugins/GHScraper_Checker/GHScraper_Checker.py
  plugins/GHScraper_Checker/GHScraper_Checker.yml
Labels: bug

#104 [titleFromFilename] various fixes
  plugins/titleFromFilename/graphql.py
  plugins/titleFromFilename/titleFromFilename.py
  plugins/titleFromFilename/titleFromFilename.yml
Labels: bug

#102 [renamerOnUpdate] option to ignore undefined gender
  plugins/renamerOnUpdate/renamerOnUpdate.py
  plugins/renamerOnUpdate/renamerOnUpdate.yml
  plugins/renamerOnUpdate/renamerOnUpdate_config.py
Labels: enhancement

#103 [renamerOnUpdate] more field
  plugins/renamerOnUpdate/renamerOnUpdate.py
  plugins/renamerOnUpdate/renamerOnUpdate.yml
  plugins/renamerOnUpdate/renamerOnUpdate_config.py
Labels: enhancement, plugin

#106 [renamerOnUpdate] fix performer rating
  plugins/renamerOnUpdate/renamerOnUpdate.py
  plugins/renamerOnUpdate/renamerOnUpdate.yml
Labels: bug
